<%- include("partials/head.ejs") -%> 

    <link rel="stylesheet" href="/css/weather.css">
    <title>Weather Update</title>
</head>

<%- include("partials/header.ejs"); -%> 

<div class="bg-img">
    <section class="form-section">
        <form method="POST">
            <div class="form-input-fields">
                <div class="input-groups field-input">
                    <input type="text" class="form-control form-input-field" maxlength="40" name="city" placeholder="Enter City Name" autocomplete="off">
                </div>
                <div class="input-groups">
                    <button class="btn btn-primary input-btn" type="submit">Search</button>
                </div>
            </div>
        </form>
    </section>
    

<% if (countryName != 0 && cityname != 0 && temp != 0 && pressure != 0 && humidity != 0 && coordinate_lat != 0 && coordinate_lon != 0 && temp_cel != 0 && img != 0 && feel_like != 0 && max_temp != 0 && min_temp != 0) { %>
 
<section class="weather-page">
    
    <div class="row place-detail">
        <div class="col-md-2 hidden-text-content">Hey</div>
        <div class="col-md-3 country-name">
            <div class="head-text"><h3>Country-Name : <span><%= countryName %> </span></h3></div>
            <div class="text-data">
                <div class="text"><h5>Temp : <span><%= temp %> k</span></h5></div>
                <div class="text"><h5>Max Temp : <span><%= max_temp %> (C&deg;)</span></h5></div>
                <div class="text"><h5>Coordinate-Lon : <span><%= coordinate_lon %> </span></h5></div>
                <div class="text"><h5>Pressure : <span><%= pressure %> </span></h5></div>
            </div>
        </div>
        <div class="col-md-1 weather-logo">
            <div class="weather-image">
                <img src="<%= img %> " alt="weather-img">
            </div>
        </div>
        <div class="col-md-3 city-name">                    
            <div class="head-text"><h3>City-Name : <span><%= cityname %> </span></h3></div>
            <div class="text-data">
                <div class="text"><h5>Temp : <span><%= temp_cel %> (C&deg;)</span></h5></div>
                <div class="text"><h5>Min Temp : <span><%= min_temp %> (C&deg;)</span></h5></div>
                <div class="text"><h5>Coordinate-Lat : <span><%= coordinate_lat %> </span></h5></div>
                <div class="text"><h5>Humidity : <span><%= humidity %> </span></h5></div>
            </div>
        </div>
        
        <div class="col-md-2 hidden-text-content">Hey</div>
    </div>

</section>

<% } else { %>

<% } %>


</div> 

<script src="/js/weather.js"></script>

<%- include("partials/footer.ejs"); -%> 